streamlit==1.22.0
pillow==9.5.0
opencv-python==4.7.0.72
pytesseract==0.3.10
torch==1.13.1
transformers==4.28.1
langchain==0.0.190
numpy==1.24.3
pydantic==1.10.7
typing_extensions==4.5.0
requests==2.31.0
